@charset "UTF-8";

.grid {
    .calendar {
        width: max-content;
        border: 2px solid gray;
        border-radius: 0.4em;
        padding: 0.4em;
    }

    .calendar h2 {
        margin: 0;
        font-size: 1.2em;
    }

    .calendar .week {
        display: flex;
    }

    .calendar .week .day {
        width: 2em;
        border: 1px solid gray;
        padding: 0.2em 0.1em;
        text-align: center;
    }

    .calendar .week .day .cap {
        /* display: inline-block;
    width: 2em;
    border: 1px solid gray;
    text-align: center; */
    }
}

.list {
    .calendar {
        width: max-content;
        border: 2px solid gray;
        border-radius: 0.4em;
        padding: 0.4em;
    }

    .calendar h2 {
        margin: 0;
        font-size: 1.2em;
    }

    .calendar .week {}

    .calendar .week .day {
        display: flex;
        width: 30em;
        border: 1px solid gray;
        padding: 0.2em 0.1em;
    }

    .calendar .week .day>span {
        display: block;
    }

    .calendar .week .day .ym {
        text-align: center;
        width: 8em;
    }

    .calendar .week .day .cap {
        width: 2em;
        text-align: center;
    }

    .calendar .week .day .w-cap {
        width: 1.6em;
        text-align: center;
    }

    .calendar .week .day .contents {
        width: 100%;
    }
}

.calendar .week .today {
    background-color: antiquewhite;
}

.calendar .week .sun {
    color: red;
}

.calendar .week .mon {}

.calendar .week .tue {}

.calendar .week .wed {}

.calendar .week .thu {}

.calendar .week .fri {}

.calendar .week .sat {
    color: blue;
}